.content_sign_in{
    height: 100vh;
    background: url('../../../images/login_background.jpg') no-repeat center center fixed;
    align-items: center;
    justify-content: center;
}

.content_sign_in .logo_wrapper {
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}


.content_sign_in .sign_in_wrapper{    
    background-color: #131720;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    position: relative;
    width: 100%;
    max-width: 400px;
    border: 1px solid #151f30;
    margin: 20px;
}

.content_sign_in .input_wrapper {
    width: 100%;
    margin-bottom: 20px;
}


.button_sign_in_wrapper {
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
}


.button_sign_in{
    height : 50px;
    border-radius: 16px;
    width: 100%;
    color: #e0e0e0;
    text-transform: uppercase;
    font-weight: 500;
}

.remember_me {
    color: #e0e0e0;

}
