/* .layout_left_menu {
    display: flex;
} */


.layout_left_menu .layout_left_menu_sider_children {
    height: 100%;
    margin-top: -0.1px;
    padding-top: 0.1px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(47,128,237,0.1);
}
/* 
.layout_left_menu .left_menu_item {
    display: flex;
    flex: 1;
    overflow: auto;
    flex-direction: column;
    justify-content: space-between;
} */

.layout_left_menu_sider_children .left_menu_profile_wrapper {
    padding: 20px 20px;
    border-bottom: 1px solid rgba(47,128,237,0.1);
    margin-bottom: 20px;
}

.layout_left_menu_sider_children .left_menu_avatar {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}


.layout_left_menu_sider_children .left_menu_profile {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.layout_left_menu_sider_children .left_menu_profile_role_text {
    color: #e0e0e0;
    font-size: 10px;
    text-transform: capitalize;

}

.layout_left_menu_sider_children .left_menu_profile_name_text {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.layout_left_menu_sider_children .button_logout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: #151f30;
    margin-left: auto;
    cursor: pointer;
}

.layout_left_menu_sider_children .button_logout:hover {
    background-color: #ffff;
}

.layout_left_menu_sider_children .icon_logout {
    color: #2f80ed;
    font-size: 20px;
}

.layout_left_menu_sider_children .button_logout:hover .icon_logout {
    color: #151f30;
}


.logo {
    width: 70%;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 10px;
}

.layout_left_menu .left_menu_item::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.layout_left_menu .left_menu_logo {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(47,128,237,0.1);

    
}

.left_menu_logo_image {
    float: left;
    
}